/config.php
/admin/config.php
/admin/controller/extension/extension/not-used/
/admin/controller/extension/payment/not-used/
/admin/controller/extension/feed/not-used/
/admin/controller/extension/shipping/not-used/